*.asv
*contourfilled_top_int_19poles_bc_points_*
*.avi
*.dat
*.vtk
*.vtu
snapshot*
log
Makefile*
Two_phase_coating.xlsx
.q*
dump*
alpha*
*openfoam/capillaryRise/0.1*
out-*
vof.mpg
*nohup.out*
*.grf
*.gz
log.*
postProcessing
*~
processor*
[0-9]*
[0-9]*.[0-9]*
!0
!0.org
!0.orig
!0/
*.eMesh
polyMesh/
*.OpenFOAM
dynamicCode
sequencedVTK/
*nohup.output
*.msh
mov.mp4	
*.mph*
*.gif
*.mp4
field*.txt
map_puv*
out
t28*.txt
t28*.png
t36*.png
t36*.txt
*_all.txt
*_filtered.txt
*_tmp.txt
x.txt
y.txt
t29*.txt
t18*.txt
t19*.txt
plots.py
*.c.tags.d
*.s
*.dims
t*.txt
*.s.d
t20*.txt
t21*.txt
t2*.txt
t3*.txt
data
t9*.txt
t7*.txt
t14*.txt
SW_ff*.fig
t-*
*f100.fig
*.tiff
K-means_CA-Re.fig
interface-*
int*.txt
step*.txt
steps_*00
perfs
y11.txt
x11.txt
plate_advancing11
*plate*.fig
*.txt
Rol_map_puv_t*
perfs
*.gfs
domain*
step*
im_closeup*
*flow_field_full.fig
*.fig
*.mat
*.ppm
*.svg
*.pdf

